### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.dart_tool
# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/
.idea/
